*{
  margin: 0;
	padding: 0;
}
/**/
.cabecera{
    text-align: center;
    background-color: #343a40;
    color: aliceblue;
    width: 100%;
}
.contenedor {
  background-color: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #FFFFFF;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.contenedor-visible {
  background-color: #FFFFFF;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000000;
  text-align: left;
}
.header {
    width: 100%;
    background-color: white;
    height: 30px;
}
.second {
    width: 300px;
    float: left;
    height: 300px;
    background-color: #FFFFFF;
	border: 1px solid #000000;
}
.seconds {
    width: 400px;
    float: left;
    height: 500px;
	margin: 50px;
    background-color: #FFFFFF;
}

.foot-space {
  background-color: #343a40;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}
.space {
    width: 50px;
    float: left;
    height: 300px;
    background-color: #FFFFFF;
}
.Lista {
    list-style: none;
}
.img-efect {
	border-radius: 50px;
}
.sombra {
  margin: 0px auto;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #592A08;
}
.sombra-tabla {
  margin: 0px auto;
  border: 1px solid #ccc;
  box-shadow: 7px 7px 15px #808080;
}

.sombra:hover{
	transform: scale(1.10);
}